In [1]:
import pandas as pd
import json
import glob
import os

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

import plotly
# import plotly.plotly as py
import plotly.graph_objs as go
import numpy as np

plotly.offline.init_notebook_mode(connected=True) 

%matplotlib inline

In [2]:
def read_formatted_jsons(INDIR):
    generation_dfs = []
    stats_dicts = []
    
    for domain in os.listdir(INDIR):
        for fname in glob.glob(INDIR+domain+"/*.json"):

            org_id = os.path.basename(fname).strip(".json")

            with open(fname) as f:
                datajson = json.load(f)

            datajson["stats"]["org_id"] = org_id
            datajson["stats"]["domain"] = domain
            datajson["stats"]["path"] = fname

            stats_dicts.append(datajson["stats"])
            generation_dfs.append(pd.DataFrame(datajson["generations"]))
            
    return generation_dfs, stats_dicts

In [20]:
generation_dfs, stats_dicts = read_formatted_jsons("../results/formatted_2019-09-09/ph_edge_jsons_P/")

In [21]:
stats_dicts[1].keys()

dict_keys(['scope_targets', 'scope_reactions', 'scope_compounds', 'scope_seeds', 'org_id', 'domain', 'path'])

In [23]:
len(stats_dicts)

294

In [39]:
"/why/hello".strip("/")

'why/hello'

In [40]:
min_orgs = {"bacteria":[],"archaea":[]}
for fname in glob.glob("../results/formatted_2019-09-09/minimal_seed_randomizations_together/*/*"):
    if "bacteria" in fname:
        min_orgs["bacteria"].append(fname.split("/")[-1])
    elif "archaea" in fname:
        min_orgs["archaea"].append(fname.split("/")[-1])

In [43]:
len(min_orgs["bacteria"])

36

In [44]:
len(min_orgs["archaea"])

28

In [45]:
pd.DataFrame([(1,2,3),(4,5,6)])

   0  1  2
0  1  2  3
1  4  5  6

In [25]:
min_gen_dfs, min_stats_dicts = read_formatted_jsons("../results/formatted_2019-09-09/minimal_seed_randomizations_together/")

In [28]:
min_stats_dicts

[]

In [48]:
table_3 = []
for org in stats_dicts:
    if org["org_id"] in min_orgs["bacteria"]:
        org_dict = {}
        org_dict["org_id"] = org["org_id"]
        org_dict["domain"] = org["domain"]
        org_dict["min_org"] = True
    elif org["org_id"] in min_orgs["archaea"]:
        org_dict = {}
        org_dict["org_id"] = org["org_id"]
        org_dict["domain"] = org["domain"]
        org_dict["min_org"] = True
    else:
        org_dict = {}
        org_dict["org_id"] = org["org_id"]
        org_dict["domain"] = org["domain"]
        org_dict["min_org"] = False
    table_3.append(org_dict)

In [50]:
df = pd.DataFrame(table_3)

In [54]:
df = df.sort_values(by=['domain', 'min_org', "org_id"])

In [55]:
df

       domain  min_org      org_id
292   archaea     True  2506520044
270   archaea     True  2506783009
271   archaea     True  2517287024
269   archaea     True  2529293002
284   archaea     True  2529293211
275   archaea     True  2531839260
268   archaea     True  2554235474
291   archaea     True  2554235476
289   archaea     True  2554235477
277   archaea     True  2554235490
273   archaea     True  2554235497
283   archaea     True  2718217646
274   archaea     True  2718217664
280   archaea     True  2718217665
282   archaea     True  2718217666
285   archaea     True  2718217667
267   archaea     True  2721755430
266   archaea     True  2721755431
272   archaea     True  2721755892
276   archaea     True  2721755895
286   archaea     True  2724679803
279   archaea     True  2728369738
287   archaea     True  2739367758
288   archaea     True  2740891997
293   archaea     True   638154515
281   archaea     True   644736411
278   archaea     True   644736412
290   archaea     True   650716079
120  bacteria    False  2515154011
29   bacteria    False  2515154016
..        ...      ...         ...
104  bacteria     True  2512047061
68   bacteria     True  2513237112
110  bacteria     True  2513237114
69   bacteria     True  2513237119
116  bacteria     True  2513237122
234  bacteria     True  2513237327
217  bacteria     True  2515154151
40   bacteria     True  2515154152
27   bacteria     True  2517572146
205  bacteria     True  2517572148
34   bacteria     True  2517572151
100  bacteria     True  2518645611
151  bacteria     True  2518645612
157  bacteria     True  2519899689
257  bacteria     True  2522572179
260  bacteria     True  2522572180
123  bacteria     True  2523533546
146  bacteria     True  2523533553
16   bacteria     True   637000019
251  bacteria     True   637000020
210  bacteria     True   643692029
224  bacteria     True   643886183
63   bacteria     True   646311908
188  bacteria     True   646311941
77   bacteria     True   646311942
53   bacteria     True   648028058
207  bacteria     True   648028061
237  bacteria     True   649633043
19   bacteria     True   650716094
254  bacteria     True   651324017

[294 rows x 3 columns]

In [56]:
df = df[["domain","org_id","min_org"]]

In [59]:
df.to_clipboard(index=False)